{#
/**
 * @file
 * Default theme implementation to display the tooltip.
 *
 * Available variables:
 * - tooltip: The tooltip text.
 * - text: The text of the rendered field.
 */
#}

<span class="tooltip" title="{{ tooltip }}">{{ text|raw }}</span>
